//------------------------------Desktop--------------------------------
.claudia-detailed-farm-intro {
  width: 100%;
  height: 1480px;
  background-color: #fff;
  display: flex;
  justify-content: center;
}

.claudia-detailed-farm-intro-fixed-container {
  width: 1440px;
  height: 1480px;
  padding: 10px;
  position: relative;
  display: inline-block;
  overflow: hidden;
}

.claudia-detailed-farm-intro-grice {
  width: 1440px;
  height: 1480px;
  // display: none;
}

.claudia-detailed-farm-intro-container {
  position: absolute;
  top: 0px;
  left: 260px;
}

.claudia-detailed-farm-intro h1 {
  font-family: 'Noto Serif TC';
  color: #66ab8c;
  font-size: 3.6rem;
  text-align: center;
  margin: 60px auto;
}

.claudia-detailed-farm-video {
  text-align: center;
}

//Middle

.claudia-detailed-farm-middle {
  display: flex;
  justify-content: space-between;
  width: 920px;
  height: 325px;
  margin: 50px auto;
}

.claudia-detailed-farm-text {
  width: 45%;
}

.claudia-detailed-farm-text p {
  font-size: 20px;
  color: #858585;
}

//------------------------------Desktop--------------------------------

//--------------------------------Ipad---------------------------------

@media screen and (min-width: 576px) and (max-width: 1200px) {
  .claudia-detailed-farm-intro {
    width: 100%;
    height: 2480px;
    position: static;
    padding: 0px;
  }

  .claudia-detailed-farm-intro-fixed-container {
    width: 100%;
    height: 2480px;
    padding: 0px;
  }

  .claudia-detailed-farm-intro h1 {
    font-size: 2.8rem;
    margin: 40px 0px;
  }

  .claudia-detailed-farm-intro-container {
    position: static;
  }

  .claudia-detailed-farm-intro-grice {
    display: none;
  }

  .claudia-detailed-farm-video iframe {
    width: 600px;
    height: 370px;
  }

  //Middle

  .claudia-detailed-farm-middle {
    display: block;
    width: 600px;
    height: 1530px;
    margin-bottom: 42px;
  }

  .claudia-detailed-farm-text {
    width: 485px;
    height: 300px;
    margin: 0px auto;
  }

  .claudia-detailed-farm-silder {
    width: 600px;
    display: flex;
    justify-content: center;
    overflow: visible;
  }

  .claudia-detailed-farm-silder-img-container {
    width: 600px;
    height: 700px;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
  }

  .claudia-detailed-farm-silder img {
    width: 600px;
    height: 370px;
    margin: 20px auto;
    position: static;
  }

  .claudia-detailed-farm-silder-container {
    display: none;
  }
}

//--------------------------------Ipad---------------------------------

//----------------------Iphone 6/7/8 + Plus + X------------------------

@media only screen and (max-width: 576px) {
  .claudia-detailed-farm-intro {
    width: 100%;
    height: 1930px;
    position: static;
    padding: 0px;
  }

  .claudia-detailed-farm-intro-fixed-container {
    width: 100%;
    height: 1930px;
    padding: 0px;
  }

  .claudia-detailed-farm-intro h1 {
    font-size: 2.4rem;
    margin: 40px 0px;
  }

  .claudia-detailed-farm-intro-container {
    position: static;
  }

  .claudia-detailed-farm-intro-grice {
    display: none;
  }

  .claudia-detailed-farm-video iframe {
    width: 335px;
    height: 200px;
  }

  //Middle

  .claudia-detailed-farm-middle {
    display: block;
    width: 375px;
    height: 1180px;
    margin-bottom: 42px;
  }

  .claudia-detailed-farm-text {
    width: 270px;
    height: 500px;
    margin: 0px auto;
  }

  .claudia-detailed-farm-silder {
    width: 375px;
    height: 210px;
    display: flex;
    justify-content: center;
    overflow: visible;
  }

  .claudia-detailed-farm-silder-img-container {
    width: 375px;
    height: 700px;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
  }

  .claudia-detailed-farm-silder img {
    width: 335px;
    height: 210px;
    position: static;
  }

  .claudia-detailed-farm-silder-container {
    display: none;
  }
}
//----------------------Iphone 6/7/8 + Plus + X------------------------
