$gray: #858585;
$lightGray: #fafafa;
$brown: #a59583;
$lightBrown: #decdbb;
$skin: #f7ede2;
$green: #66ab8c;
$deepGreen: #438b6b;
$orange: #f48145;
$deepOrange: #e0611e;
$yellow: #f6bd60;
$deepYellow: #f5a016;

$featureIconSize_xxl: 9rem;
$featureIconSize_xxl_active: 10rem;
$featureIconSize_xl: 8rem;
$featureIconSize_xl_active: 9rem;
$featureIconSize_xl: 6rem;
$featureIconSize_xl_active: 7rem;
$featureIconSize_md: 4rem;
$featureIconSize_md_active: 5rem;
$featureIconSize_sm: 8rem;
$featureIconSize_sm_active: 9rem;

$featureCircleWidth: 160px;
$featureDotWidth: 15px;
$homePageCirclesWidth: 1170px;
$featureTriangleWidth: 30px;
$featurePadding: ($homePageCirclesWidth - $featureCircleWidth * 5 - $featureDotWidth * 4) / 18;
$gap: $featureCircleWidth + $featurePadding * 4 + $featureDotWidth;

@import "variable/variable.scss";
@import url("https://fonts.googleapis.com/css2?family=Noto+Serif+TC:wght@200;300;400;500;600;700;900&display=swap");

// 特色內容
#introCard-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 30px;
}

#introCard-wrap {
  background-color: $lightGray;
  width: 30rem;
  height: 45rem;
  border-radius: 20px;
  box-shadow: 0.1rem 0.2rem 0.5rem 0.1rem #c2c2c279;
  position: relative;
  overflow: hidden;
}

#introCard-wrap:hover > #introCard-photo {
  background-color: #f48145;
  margin-left: -15rem;
  margin-top: -7.5rem;
  object-fit: cover;
  background-position: -30rem 3rem;
  transition: 0.5s;
  border-radius: 50rem;
  opacity: 0.3;
  width: 60rem;
  height: 60rem;
}

#introCard-photo {
  background-color: #f48145;
  border-radius: 50%;
  object-fit: cover;
  background-position: -8rem 0rem;
  width: 15rem;
  height: 15rem;
  margin: 3rem auto 0 auto;
  display: flex;
  justify-content: center;
}

#introCard-content {
  width: 25rem;
  height: 45rem;
  top: 0;
  right: 2.5rem;
  position: absolute;
}

#introCard-fake-content-height {
  width: 15rem;
  height: 15rem;
  margin: 3rem auto 2rem auto;
}

#introCard-title {
  text-align: center;
  font-family: "Noto Sans TC", sans-serif;
  font-size: 1.8rem;
  font-weight: 600;
}

#introCard-text {
  width: 25rem;
  height: 15rem;
  font-family: "Noto Sans TC", sans-serif;
  font-size: 1.4rem;
  font-weight: 500;
  margin: 0 auto;
}

#introCard-arrow {
  background: url("../../assets/svg/intro1-arrow.svg") center center no-repeat;
  background-size: cover;
  width: 3rem;
  height: 2.2rem;
  cursor: pointer;
  float: right;
}

#introCard-wrap:hover > #introCard-arrow {
  animation: myCustomAnimate 0.7s infinite;
}

@keyframes myCustomAnimate {
  from {
    margin-right: 3rem;
  }
  to {
    margin-right: 0rem;
  }
}

#introCard-viewMore {
  font-family: "Noto Sans TC", sans-serif;
  color: $gray;
  font-size: 1rem;
  margin-right: 0px;
  float: right;
}
