@import "Ru/Pages/variable.scss";

// common
.selection-btn {
  background-color: $white;
  height: 65px;
  width: 200px;
  border-radius: 9999px;
  position: relative;
  z-index: 1;
  overflow: hidden;
  transition: color $three-five, border $zero;
}

.selection-btn::after {
  content: "";
  height: 65px;
  width: 220px;
  position: absolute;
  z-index: -1;
  top: 70px;
  left: -10px;
  transition: top $two-five, background-color $zero, border $zero;
  @include font(
    // 字體, 字體大小, 字重, 字距, 字色
    $notoSansTC,
    $minor-heading,
    $regular,
    1.25px,
    $white
  );
}

.selection-btn:focus {
  outline: none;
}

.selection-btn:hover {
  color: $white;
}

.selection-btn:hover::after {
  top: 0px;
}

// orange
.selection-btn-orange {
  @include font(
    // 字體, 字體大小, 字重, 字距, 字色
    $notoSansTC,
    $minor-heading,
    $regular,
    1.25px,
    $light-orange
  );
  border: 1px solid $light-orange;
}

.selection-btn-orange::after {
  background-color: $light-orange;
}

.selection-btn:active::after {
  background-color: $dark-orange;
}

.selection-btn-orange-active {
  color: white;
  background-color: $light-orange;
}

// green
.selection-btn-green {
  border: 1px solid $light-green;
  @include font(
    // 字體, 字體大小, 字重, 字距, 字色
    $notoSansTC,
    $minor-heading,
    $regular,
    1.25px,
    $light-green
  );
}

.selection-btn-green::after {
  background-color: $light-green;
}

.selection-btn-green:active::after {
  background-color: $dark-green;
}

.selection-btn-green-active {
  background-color: $light-green;
  color: white;
}
