.input-field {
  border: 1px solid gray;
  border-radius: 2.5rem;
  height: 5rem;
  width: 512px;
}

.svg-wrapper {
  // min-width: 70px;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: center;
  justify-content: center;
  -ms-flex-align: center;
  align-items: center;
}

.search-svg {
  display: flex;
  justify-content: center;
  align-items: center;
  // width: 36px;
  // height: 36px;
  border-style: none;
  fill: #c2c4ca;
}

.searchbar-container {
  width: 100%;
}

.searchbar-input {
  background: transparent;
  color: #000;
  display: block;
  font-size: 20px;
  width: 100%;
  height: 100%;
  border: 0;
  padding: 8px 35px 12px;
  margin: 0;
}

#searchId {
  pointer-events: none;
  opacity: 0.5;
}

.input-field input.placeholder {
  color: gray;
  font-size: 20px;
}

.input-field input:-moz-placeholder {
  color: gray;
  font-size: 20px;
}

.input-field input::-webkit-input-placeholder {
  color: gray;
  font-size: 20px;
}

.input-field input:hover,
.input-field input:focus {
  box-shadow: none;
  outline: 0;
}

.input-field.first-wrap {
  -ms-flex-positive: 1;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-align: center;
  align-items: center;
  background: #fff;
}

.input-field.first-wrap input {
  -ms-flex-positive: 1;
  flex-grow: 1;
}
