// 覆蓋掉原本的預設bootstrap樣式要放在這下面 _variables.scss

// Import Bootstrap and its default variables
@import "~bootstrap/scss/bootstrap.scss";

// 其它要導入覆蓋掉原本的預設bootstrap樣式要放在這下面
// 引入字體
@import url("https://fonts.googleapis.com/css2?family=Noto+Sans+TC:wght@300;400&display=swap");

.sideBar-container-active {
  background-color: white;
  position: fixed;
  height: 100vh;
  box-shadow: 0.3rem 0 1rem #cfcfcf;
  padding: 30px 20px;
  left: 0%;
  transition: 0.6s;
}

.sideBar-container-disActive {
  background-color: white;
  position: fixed;
  height: 100vh;
  box-shadow: 0.3rem 0 1rem #cfcfcf;
  padding: 30px 20px;
  left: -100%;
  transition: 0.8s;
}

//text color
.sideBar-container a {
  color: #858585;
  text-decoration: none;
}

//when text hover
.sideBar-container a:hover,
.sideBar-container a:focus,
.sideBar-container a:active,
.sideBar-container a:hover #drop_arrow,
.sideBar-container a:focus #drop_arrow,
.sideBar-container a:active #drop_arrow {
  fill: #e0611e;
  color: #e0611e;
  text-decoration: none;
}

.sideBar-leftIcon {
  cursor: pointer;
}

.sideBar-item {
  color: #858585;
  margin: 0px 50px;
  padding: 20px 50px;
  line-height: 2.5rem;
  font-size: 1.8rem;
  border-bottom: 1px solid #85858533;
}

.sideBar-item:last-child {
  border: none;
}

.sideBar-item a {
  color: #858585;
}

#back-arrow {
  fill: #858585;
}

#sidBar-dropArrow-wrap {
  margin-left: 5px;
}

@media screen and (max-width: 1440px) {
}

@media screen and (max-width: 1200px) {
}

@media screen and (max-width: 1024px) {
}

@media screen and (max-width: 768px) {
}

@media screen and (max-width: 576px) {
}
