@import "variable/variable.scss";

.productFeatureBar-header {
  position: relative;
}

.productFeatureBar-header > h3 {
  width: 100%;
  text-align: center;
  position: absolute;
  z-index: 100;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  @include font(
    // 字體, 字體大小, 字重, 字距, 字色
    $notoSansTC,
    $sub-title,
    $regular,
    2.5px,
    $white
  );
}

.productFeatureBar-header > img {
  height: 360px;
  width: 100%;
  object-fit: cover;
  filter: brightness(0.5);
}

.productFeatureBar-feature-container {
  // background-color: dodgerblue;
  color: white;
  margin: auto;
  @include page(); // 1440px
  padding: 80px 20px;
}

.productFeatureBar-feature-wrap {
  @include flex($df, $fdc, $jcc, $alc);
}

.productFeatureBar-optionButtons {
  // background-color: rgb(30, 236, 255);
  width: 100%;
  // height: 65px;
  margin-top: 50px;
  @include flex($df, $fdr, center, $alc);
}

.productFeatureBar-optionButtons .button-btn:nth-child(1) {
  // background-color: ;
  margin-right: 10px;
}

.productFeatureBar-optionButtons .button-btn:nth-child(2),
.button-btn:nth-child(3) {
  margin-right: 10px;
  margin-left: 10px;
}

.productFeatureBar-optionButtons .button-btn-g {
  margin-left: 10px;
}

.productFeatureBar-feature-container .input-field {
  width: 43.762%;
  height: 50px;
}

.productFeatureBar-line {
  // background-color: red;
  width: 100%;
  @include flex($df, $fdr, $jcc, $als);
  overflow: hidden;
}

.productFeatureBar-line > img {
  height: 8px;
}

// 響應式 --------------------------------------------------------------------------------
// ipad pro版 ----------
@media screen and (min-width: 992px) and (max-width: 1365.99px) {
  .productFeatureBar-feature-container {
    @include page-iPadPro();
  }

  .productFeatureBar-feature-container .input-field {
    width: 56.6375%;
  }

  .productFeatureBar-optionButtons {
    width: 100%;
  }
}

// ipad 版 ----------
@media screen and (min-width: 768px) and (max-width: 991.99px) {
  .productFeatureBar-feature-container {
    // background-color: gold;
    @include page-iPad();
    padding: 0px 30px;
    width: 100%;
  }

  .productFeatureBar-feature-container .input-field {
    width: 59.9525%;
  }

  .productFeatureBar-optionButtons {
    width: 100%;
  }

  .productFeatureBar-optionButtons .button-btn:nth-child(1),
  .productFeatureBar-optionButtons .button-btn:nth-child(2),
  .productFeatureBar-optionButtons .button-btn:nth-child(3),
  .productFeatureBar-optionButtons .button-btn-g {
    font-size: 18px;
    width: 160px;
    height: 52px;
    margin: 0px;
  }
}

@media screen and (min-width: 576px) and (max-width: 767.99px) {
  .productFeatureBar-productList-container {
    // background-color: blueviolet;
  }

  .productFeatureBar-header {
    position: relative;
  }

  .productFeatureBar-feature-container {
    // background-color: dodgerblue;
    color: white;
    @include page-iPad();
    padding: 0px 30px;
  }

  .productFeatureBar-feature-container .input-field {
    width: 62.5%;
  }

  .productFeatureBar-optionButtons {
    width: 98%;
    flex-wrap: wrap;
  }

  .productFeatureBar-optionButtons .button-btn:nth-child(1),
  .productFeatureBar-optionButtons .button-btn:nth-child(2),
  .productFeatureBar-optionButtons .button-btn:nth-child(3),
  .productFeatureBar-optionButtons .button-btn-g {
    font-size: 18px;
    width: 120px;
    height: 52px;
    margin: 0px;
  }
}

.productFeatureBar-option-button {
  max-width: 200px;
  margin: 0px 25px;
  padding: 20px 0px;
}

// 手機版 ----------
@media screen and (max-width: 575.99px) {
  .productFeatureBar-productList-container {
    // background-color: blueviolet;
  }

  .productFeatureBar-header {
    position: relative;
  }

  .productFeatureBar-feature-container {
    // background-color: dodgerblue;
    color: white;
    height: 257px;
    @include page-phone();
    @include flex($df, $fdc, $jcc, $alc);
  }

  .productFeatureBar-feature-container .input-field {
    width: 100%;
  }

  .productFeatureBar-optionButtons {
    // background-color: rgb(30, 236, 255);
    width: 80%;
    height: 100px;
    margin-top: 30px;
    @include flex($df, $fdr, space-between, $alc);
    flex-wrap: wrap;
  }

  .productFeatureBar-optionButtons .button-btn {
    width: 120px;
    height: 40px;
  }

  .productFeatureBar-optionButtons .button-btn-g {
    width: 120px;
    height: 40px;
  }

  .productFeatureBar-optionButtons div {
    display: flex;
    justify-content: center;
  }
  .productFeatureBar-optionButtons .button-btn:nth-child(1) {
    font-size: 18px;
    margin: 5px 0px;
  }
  .productFeatureBar-optionButtons .button-btn:nth-child(2),
  .button-btn:nth-child(3) {
    font-size: 18px;
    margin: 5px 0px;
  }

  .productFeatureBar-optionButtons .button-btn-g {
    font-size: 18px;
    margin: 5px 0px;
  }
}
