@import "variable/variable.scss";

// 網頁版
#foodItem-wrap {
  flex-basis: 350px;
  height: 100%;
  @include flex($df, $fdr, $jcs, $alc);
}

#foodItem-img {
  cursor: grab;
  width: 35%;
  height: 100%;
  @include flex($df, $fdc, $jcc, $alc);
}

#foodItem-info {
  width: 65%;
  margin-left: 15px;
}

#foodItem-info ul {
  width: 100%;
  @include flex($df, $fdc, $jcc, $alc);
}

#foodItem-info ul h4 {
  width: 100%;
  margin: 0px;
  margin-bottom: 5px;
  @include font($notoSansTC, $minor-heading, $regular, 1.25px, $productName-Color);
}

#foodItem-info ul h4 span {
  @include font($notoSansTC, $minor-heading, $bold, 1.25px, $light-orange);
}

#foodItem-info ul li {
  width: 100%;
  margin: 0px;
  margin-bottom: 5px;
  @include font($notoSansTC, $content, $regular, 1.25px, $grey);
}
